<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS that takes care of the navbar-->
    <link rel="stylesheet" href="../css/global/mon_style.css">
    
    <!--Emoji-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <meta charset="utf-8">
    <!--CSS for the page-->
    <link rel="stylesheet" href="../css/global/navbar.css">
    <link rel="stylesheet" href="../css/settings/account_setting.css">
    <!--For screen size adaptation-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <title>Support</title>
</head>
<body>
    <!--navbar-->
    <div class="inner-width">
        <a href="#" class="logo" hidden><img src="../logo.jpg" id="logo" alt="" style="width:300px;height:250px";></a>
        <i class="menu-toggle-btn fas fa-bars" id="menu"></i>
        <nav class="navigation-menu">
            <a href="../views/home.html"><i class="fas fa-home home"></i> Accueil</a>
            <a href="../views/login.html"><i class="fas fa-users team"></i> Se connecter</a>
            <a href="../views/support.html"><i class="fas fa-headset contact"></i> Support</a>
        </nav>
        <h1>Page Compte</h1>
        <h3>Harmony</h3>
        <form id="Username" method="POST" action="/changeUsername" >
            <input type="text" placeholder="Nom d'utilisateur" id="UsernameText" name="username">
            <input type="submit" value="Changer le Nom d'utilisateur" id="UsernameSubmit">
        </form>
        
        <br>
        <form id="email" method="POST" action="/changeEmail">
            <input type="email" placeholder="E-mail" id="emailText" name="email">
            <input type="submit" value="Changer l'e-mail" id="emailSubmit">
        </form>
        
        <br>
        <form id="Password" method="POST" action="/changePassword">
            <input type="text" placeholder="Changer le mot de passe" id="PasswordText" name="newPass">
            <input type="text" placeholder="Confirmer nouveau mot de passe" id="PasswordConfirm" name="newPassConf">
            <input type="text" placeholder="Ancien mot de passe" id="OldPassword" name="oldPass">
            <input type="submit" value="Changer le mot de passe" id="PasswordSubmit">
        </form>
        
        <br>
        <form method="POST" action="/changeStatut">
            <select id="object" name="statut">
            <option value="#"> -- Définir le statut -- </option>
            <option value="Online"> En ligne </option>
            <option value="DnD"> Ne pas déranger </option>
            <option value="AFK"> Absent </option>
            <option value="Offline"> Hors ligne </option>
        </select>
        <br>
        <input type="text" placeholder="Statut" id="StatutText" name="statutText">
        <input type="submit" value="Changer le statut" id="StatutSubmit">

        </form>
        
        <br>
        <form method="POST" action="/changePFP">
            <input type="file" name="PFP" id="FileSelect" name="file">
            <input type="submit" value="Envoyer" id="SendSubmit">
        </form>
        
        <br>
        <form method="POST" action="/changeTheme">
            <select id="object" name="theme">
            <option value="#"> -- Thème -- </option>
            <option value="Day"> Mode jour </option>
            <option value="Night"> Mode nuit </option>
        </select>
        <input type="submit" value="Changer le thème" id="ThemeSubmit">
        </form>
        
        <br>
        <form method="POST" action="/changeLanguage">
            <select id="object" name="language">
            <option value="#"> -- Langue -- </option>
            <option value="English"> Anglais </option>
            <option value="Korean"> Coréen </option>
            <option value="French"> Français </option>
        </select>
        <input type="submit" value="Changer la langue" id="LanguageSubmit">
        </form>
        
        <br>
        <script src="../javascript/navbar.js"></script>