<!DOCTYPE html>
<html>
  <!--Page une fois connecté -->
  <head>
    <title>Harmony</title>

    <meta charset="utf-8" />

    <link rel="stylesheet" href="../css/global/mon_style.css" />
    <link rel="stylesheet" href="../css/global/navbar.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      charset="utf-8"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
  </head>

  <body>
   
    <div class="inner-width">
      <a href="#" class="logo"><img src="/logo.jpg" alt="" /></a>
      <i class="menu-toggle-btn fas fa-bars" id="menu"></i>
      <nav class="navigation-menu">
        <a href="../views/home.html"
          ><i class="fas fa-home home"></i> Accueil</a
        >
        <a href="../views/account_setting.html"
          ><i class="fas fa-users team"></i>Votre compte</a
        >
        <a href="../views/support.html"
          ><i class="fas fa-headset contact"></i> Support</a
        >
      </nav>
    </div>
    <h1><em>Harmony</em></h1> 
    <div class="chat">
      
      <form method="POST" action="/chat">
        <textarea></textarea>
        <input type="submit">
      </form>
   </div>
    <script src="../javascript/navbar.js"></script>
  </body>
</html>
