        <!DOCTYPE html>
    <html>
        <!--Page d'accueil avant connection -->
    <head>
        <title>Harmony</title>
        <!--import CSS and jquery-->
        <meta charset="utf-8">
        <meta name="viewport"
            content="with=device-with, initial-scale=1, user-scalable=no">
            <link rel="stylesheet" href="../css/global/mon_style.css">
            <link rel="stylesheet" href="../css/global/navbar.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">  
    </head>
    <body>
        <!--navbar-->
        <div class="inner-width">
            <a href="#" class="logo" hidden><img src="/logo.jpg" id="logo" alt="" style="width:300px;height:250px";></a>
            <i class="menu-toggle-btn fas fa-bars" id="menu"></i>
            <nav class="navigation-menu">
                <a href="../views/home.html"><i class="fas fa-home home"></i> Accueil</a>
                <a href="../views/login.html"><i class="fas fa-users team"></i> Se connecter</a>
                <a href="../views/support.html"><i class="fas fa-headset contact"></i> Support</a>
            </nav>
        <h1>Friends</h1>
        <input type="text" placeholder="statut" disabled>
        <input type="text" placeholder="Username" disabled>
        <input type="image" disabled>
        <input type="text" placeholder="statut" disabled>
        <input type="button" value="+">
    </body>
    </html>