        <!DOCTYPE html>
    <html>
        <!--Page d'accueil avant connection -->
    <head>
        <title>Harmony</title>
        <!--import CSS and jquery-->
        <meta charset="utf-8">
        <meta name="viewport"
            content="with=device-with, initial-scale=1, user-scalable=no">
            <link rel="stylesheet" href="../css/global/mon_style.css">
            <link rel="stylesheet" href="../css/global/navbar.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">  
    </head>
    <body>
        <!--navbar-->
        <div class="inner-width">
            <a href="#" class="logo"><img src="/logo.jpg" id="logo" alt="" style="width:300px;height:250px";></a>
            <i class="menu-toggle-btn fas fa-bars" id="menu"></i>
            <nav class="navigation-menu">
                <a href="#"><i class="fas fa-home home"></i> Accueil</a>
                <a href="../views/login.html"><i class="fas fa-users team"></i> Se connecter</a>
                <a href="../views/support.html"><i class="fas fa-headset contact"></i> Support</a>
            </nav>
        </div>
        <!--content-->
            <h1><em>Harmony</em></h1>
            <br><h3><em>Le Gaming dans l'Harmonie</em></h3>
        <br><br><br><br><br><br><br><br><br><br>
        <!--button to make appear/disappear some text-->
        <button id="button1">Qu'est ce que Harmony ?</button> 
        <!--js for the button and the navbar-->
        <script src="../javascript/why_Harmony.js"></script>
        <script src="../javascript/navbar.js"></script>
    <br><br><br><br>
    <!--field for the button-->
        <h2 id="why_harmony"></h2><br> 
        <p id="text_why_harmony"></p><br> <br> 
        <h2>Vous savez déjà tout et avez un compte ?</h2>  <br> 
        <p>Vous avez déjà pris connaissance de Harmony et avez déjà votre propre compte ? Wow !! 
            Il ne vous reste plus qu'à vous connecter en suivant <a href="../views/login.html" class="link"> ce lien !</a>
        </p><br> 
        <br><br> 
        <h2>Harmony ? c'est quoi ?</h2><br> 
        <p>Harmony est un site basé sur l'échange entre joueurs ainsi qu'entre personnes voulant se retrouver en communauté, de nombreuses fonctionnalités seront ajoutées lors des mises à jour. </p><br> 
        <br><br> 
        <h2>Nos objectifs ?</h2><br> 
        <p><br>Nos objectifs sont très simples, nous souhaitons proposer un service le plus performant possible, toujours à l'écoute de notre communauté.</br> 
            Nous cherchons à créer un site fiable, sécurisé et possédant nombre de fonctions variées:</p>
        <!--organized list-->
        <ol type="I" class="list1">
            <li>fonctionnalité vocale</li>
            <li>sécurisation totale de vos données</li>
            <li>système de feedback implémenté dans l'assistance</li>
            <li>système de reconnaissance d'un AFK</li>
        </ol><br> <br> 
        <h2>Besoin d'aide ?</h2><br> 
        <!--link to our support-->
        <p>Suivez juste <a href="../views/support.html" class="link">ce lien</a> pour rejoindre la page du support !</p>
    </body>
    </html>