
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

body{
  margin: 0;
  padding: 0;
 /*font-family: sans-serif; */
  font-family: 'Oswald', sans-serif;
   background: #191919;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[id = "username"],.box input[type = "password"],.box input[type="email"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[id = "username"]:focus,.box input[type = "password"]:focus,.box input[type="email"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[id ="description"]{
    border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  
    outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[id="description"]:hover {
    border-color: #2ecc71;
}
.box input[type = "button"],.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "button"]:hover,.box input[type = "button"]:hover{
  background: #2ecc71;
}

.box select{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: grey;
  border-radius: 24px;
  transition: 0.25s;
}

.box select:focus{
  background: black;
  color: white;
}

.box select:after{
  position:absolute ;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border: transparent;
}

